/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */

body {
  font-family: Roboto;
  background: whitesmoke;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

p {
  display: inline-block;
  padding: 0 50px;
}

/* Specific styles */

.heading {
  font-size: 208px;
  font-weight: 100;
  padding: 20px;
  margin: 50px 0;
}

.heading span {
  font-size: 15px;
}

input {
  font-size: 38px;
  border: none;
  outline: none;
  background: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  color: rgb(50, 140, 192);
  /* position: fixed;
    left: 30%;
    bottom: 35%; */
}

input:focus {
  box-shadow: 8px 8px 5px 5px rgb(180, 180, 180);
}

.list-section {
  margin-top: 50px;
}

.component {
  font-size: 78px;
  padding: 10px;
  font-weight: 100;
}

.fa-check {
  color: rgb(50, 140, 192);
}

.fa-times {
  color: rgb(192, 50, 50);
}

.filters {
  margin-top: 50px;
}

button {
  padding: 10px 15px;
  border: none;
  background: rgb(221, 80, 80);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}

button:hover{
  background: white;
  border: 2px solid rgb(221, 80, 80);
  color: rgb(221, 80, 80);
}

.active-tag {
  color: rgb(221, 80, 80);
  background: white;
  border: 2px solid rgb(221, 80, 80);
}
